*.swp
*.swo
*.gem
.DS_Store
*.rbc
.bundle
.sqlite3.db
.netrwhist

.CFUserTextEncoding
.bash_history
.bundle
.cpan
.gitk
.irb_history
.lesshst
.mysql_history
.ri
.ruby_inline
.rvm
.sqlite_history
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.subversion
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Sites
.Trash
.vagrant
